.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; /* Для эффекта 3D */
    width: 340px;
    height: 700px;
    margin: 20px auto;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; /* Плавная анимация */
    cursor: pointer;
    will-change: transform; /* Оптимизация производительности */
  }
  
  .flipped {
    transform: rotateY(180deg); /* Переворот карточки */
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Скрывает сторону, которая не видна */
    border-radius: 10px;
    box-shadow: 0px 14px 39px -11px rgba(194, 161, 208, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    transform: translateZ(0); /* Исправление размытости текста */
  }
  
  .front {
    background: none;
  }
  
  .back {
    background: #000; /* Цвет задней стороны карточки */
    color: #fff;
    transform: rotateY(180deg);
    padding: 10px;
  }
  
  .coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение занимает весь размер карточки */
  }
  
  .backImage {
    width: 100%;
    height: 65%; /* Картинка занимает верхние 60% задней стороны */
    object-fit: cover; /* Обеспечить правильное масштабирование */
    border-radius: 10px 10px 0 0; /* Скругление только верхних углов */
  }
  
  .backText {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -4px;
    text-align: left;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .source {
    font-size: 12px;
    margin-top: auto;
    text-align: left;
  }
  
  .sourceLink {
    color: #8aaaff;
    text-decoration: none;
  }
  
  .sourceLink:hover {
    text-decoration: underline;
  }
  