/* app/components/VideoBlock.module.css */
.videoBlock {
    width: 100%;
    background-color: #000; /* Фон для контраста */
    padding: 20px 0; /* Отступы сверху и снизу */
    border-bottom: 2px solid #d3d3d3; /* Полоса снизу */
  }
  
  .video {
    width: 100%;
    height: auto;
    display: block;
    max-width: 1920px; /* Максимальная ширина видео */
    margin: 0 auto; /* Выравнивание по центру */
  }
  